body {
    background-color: aliceblue;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgray;
    border-width: 8px;
    width: 10%;
}

h1 {
    color: #66bfbf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}